<div class="column large-12 small-12 todo__content__overlay"></div>
<div class="row display valign-middle" >
  <div class="small-2 large-2 todo__content__limit-date columns text-center"><%- limitDate %></div>
  <div class="small-8 large-8 todo__content__text columns">
    <%- content %>
  </div>
  <div class="small-1 large-1 todo__content__finished columns text-center">
    <div class="switch tiny">
      <input type="checkbox" class="finished__current-state" id="todo-<%- id %>">
      <label for="todo-<%- id %>"></label>
    </div>
  </div>
  <div class="small-1 large-1 todo__content__delete columns text-center">
    <span class="todo__delete__button radius">削除</span>
  </div>
</div>
